@import "../../variables";

.footer {
  a {
    color: $primary-invert;
  }
  ul {
    li {
      font-size: $size-7;
    }
  }
  dl {
    padding-top: $size-7;
    dt {
      text-transform: uppercase;
      font-size: $size-7 * 0.75;
      padding-top: $size-7 / 2;
    }
    dd {
      font-size: $size-7;
    }
  }
  h3 {
    &.company {
      padding-bottom: $size-7;
    }
    &.title {
      font-size: $size-4;
      text-transform: uppercase;
    }
  }
  .logo {
    i {
      font-size: $size-1;
    }
  }
  .menu {
    padding-bottom: $size-3;
    .menu-list {
      a {
        color: $primary-invert;
      }
    }
  }
  .social-follow {
    li {
      display: inline-block;
      padding-right: $size-6 / 2;
      padding-top: $size-6;
      i {
        font-size: $size-2;
        span {
          display: none;
        }
      }
    }
  }
}
